body{
    background-color: rgba(152, 237, 234, 0.87);
    margin: 20px 
}



.tile {
    padding: 5px;
    border-color: #000000;
    border-style: solid;
    margin: 5px;
}

.campus-image {
width: 270px;
height: 180px;
padding: 10px;
margin: auto;
display: block   
}

.btn {
    margin: 5px
}